<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlogWorkerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost;Initial Catalog=amDB;Integrated Security=True" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="AlogWorkerService.Properties.Settings.conString" connectionString="Data Source=NPS-PC\SQLEXPRESS;Initial Catalog=amDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <AlogWorkerService.Properties.Settings>
      <setting name="lastBackup" serializeAs="String">
        <value>02/18/2020 11:24:00</value>
      </setting>
      <setting name="accountSid" serializeAs="String">
        <value>AC0641c3363901b6a8971d7c23937528cb</value>
      </setting>
      <setting name="authToken" serializeAs="String">
        <value>c7378099baee0d25254262622d34f8fa</value>
      </setting>
      <setting name="fromPhone" serializeAs="String">
        <value>"+12015846173"</value>
      </setting>
      <setting name="sendMessage" serializeAs="String">
        <value>False</value>
      </setting>
    </AlogWorkerService.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>