<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AManager.Properties.Settings.connection" connectionString="Data Source=NPS-PC\SQLEXPRESS;Initial Catalog=amDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AManager.Properties.Settings>
            <setting name="defaultFont" serializeAs="String">
                <value>Verdana, 8.25pt</value>
            </setting>
            <setting name="fontData" serializeAs="String">
                <value>Microsoft Tai Le, 8.25pt</value>
            </setting>
            <setting name="refreshInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BtnFont" serializeAs="String">
                <value>Verdana, 8.25pt</value>
            </setting>
            <setting name="TextRighttoLeft" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="checkinStart" serializeAs="String">
                <value>01/27/2020 08:01:00</value>
            </setting>
            <setting name="checkinEnd" serializeAs="String">
                <value>01/27/2020 09:01:00</value>
            </setting>
            <setting name="checkoutStart" serializeAs="String">
                <value>01/27/2020 14:01:00</value>
            </setting>
            <setting name="checkoutEnd" serializeAs="String">
                <value>01/27/2020 12:01:00</value>
            </setting>
            <setting name="autoCheckOut" serializeAs="String">
                <value>01/27/2020 23:01:00</value>
            </setting>
            <setting name="setupcomplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="smsTemplet" serializeAs="String">
                <value>Greetings {ParentName},Your Child {StudentName} Reached School on {Date} at {Time}Thanks</value>
            </setting>
            <setting name="sms_defaultValidFor" serializeAs="String">
                <value>01/01/2020 02:00:00</value>
            </setting>
            <setting name="labelFont" serializeAs="String">
                <value>Verdana, 8pt</value>
            </setting>
            <setting name="GVFont" serializeAs="String">
                <value>Verdana, 8.25pt</value>
            </setting>
            <setting name="Loc_RG_student" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Loc_pann_service" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Display_RG_student" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Pann_service" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loc_classwisechart" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Display_classwisechart" serializeAs="String">
                <value>True</value>
            </setting>
        </AManager.Properties.Settings>
    </userSettings>
    <applicationSettings> 
        <AManager.Properties.Settings>
            <setting name="gatewayPriority" serializeAs="String">
                <value>1</value>
            </setting>
        </AManager.Properties.Settings>
    </applicationSettings>
</configuration>